[submodule "node"]
	path = node
	url = git://github.com/ry/node.git
[submodule "postgres"]
	path = postgres
	url = git://github.com/ry/node_postgres.git
[submodule "router"]
	path = router
	url = git://github.com/creationix/node-router.git
